{% extends "base.html" %}
{% load static %}

{% block style %}
	<style>
        .django-ckeditor-widget {
            width: 100%;
        }
	</style>
{% endblock style %}

{% block content %}
	<div class="container p-5">
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">Update Recipe</h2>
			</div>
			<div class="card-body">
				<form
						id="user_update_recipe_form"
						action="{% url 'update-recipe' recipe.slug %}"
						method="post"
						enctype="multipart/form-data"
				>
					{% csrf_token %}
					<!-- Recipe Name -->
					<div class="mb-3">
						<label for="name" class="form-label">Recipe Name</label>
						<input
								type="text"
								name="name"
								id="name"
								class="form-control"
								value="{{ recipe.name }}"
								required
						/>
					</div>

					<!-- Category -->
					<div class="mb-3">
						<label for="category" class="form-label">Category</label>
						<select
								name="category"
								id="category"
								class="form-select"
								required
						>
							{% for category in categories %}
								<option
										value="{{ category.id }}"
										{% if recipe.category.id == category.id %}selected{% endif %}>
									{{ category.name }}
								</option>
							{% endfor %}
						</select>
					</div>

					<!-- About -->
					<div class="mb-3">
						<label for="about" class="form-label">About</label>
						<textarea
								name="about"
								id="about"
								class="form-control"
								rows="4"
								required
						>{{ recipe.about }}</textarea>
					</div>

					<!-- Ingredients -->
					<div class="mb-3">
						<label for="ingredients" class="form-label">Ingredients</label>
						<textarea
								name="ingredients"
								id="ingredients"
								class="form-control ckeditor"
								rows="6"
								required
						>{{ recipe.ingredients }}</textarea>
					</div>

					<!-- Preparation -->
					<div class="mb-3">
						<label for="preparation" class="form-label">Preparation</label>
						<textarea
								name="preparation"
								id="preparation"
								class="form-control ckeditor"
								rows="6"
								required
						>{{ recipe.preparation }}</textarea>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary w-100" form="user_update_recipe_form">
					Submit
				</button>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
	<script>
        $(document).ready(function () {
            // Initialize CKEditor for the textarea fields
            $('.ckeditor').each(function () {
                CKEDITOR.replace(this.id);
            });
        });
	</script>
{% endblock script %}
