{% extends "base.html" %}
{% load static %}

{% block style %}
	<style>
        .django-ckeditor-widget {
            width: 100%;
        }
	</style>
{% endblock style %}


{% block content %}

	<div
			class="alert alert-info" role="alert"
			style="position: fixed; top: 5%; right: 5%; transform: translate(-5%, -5%); z-index: 10"></div>
	<div class="container p-5">

		<form
				id="user_update_recipe_form" action="{% url 'update-recipe' recipe.slug %}" method="post"
				enctype="multipart/form-data">
			{% csrf_token %}
			<h2>Update Recipe: {{ recipe.name }}</h2>

			<div>
				<label for="id_name">Name:</label>
				{{ form.name }}  <!-- Renders the Name field with error messages if any -->
				{% if form.name.errors %}
					<div class="errors">
						{% for error in form.name.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div>
				<label for="id_category">Category:</label>
				{{ form.category }}  <!-- Renders the Category field with error messages if any -->
				{% if form.category.errors %}
					<div class="errors">
						{% for error in form.category.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div>
				<label for="id_image">Image:</label>
				<p>Currently: {{ recipe.image.name }}</p>  <!-- Displays the current image -->
				{{ form.image }}  <!-- Renders the Image field -->
				{% if form.image.errors %}
					<div class="errors">
						{% for error in form.image.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div>
				<label for="id_about">About:</label>
				{{ form.about }}
				{% if form.about.errors %}
					<div class="errors">
						{% for error in form.about.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div>
				<label for="id_ingredients">Ingredients:</label>
				{{ form.ingredients }}  <!-- Renders the Ingredients field -->
				{% if form.ingredients.errors %}
					<div class="errors">
						{% for error in form.ingredients.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div>
				<label for="id_preparation">Preparation:</label>
				{{ form.preparation }}  <!-- Renders the Preparation field -->
				{% if form.preparation.errors %}
					<div class="errors">
						{% for error in form.preparation.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<button type="submit">Update Recipe</button>
		</form>


	</div>
{% endblock content %}

{% block script %}
	<script>
        $(document).ready(function () {

            $(".alert").hide()
        });
	</script>
{% endblock script %}
