{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>{{ title }}</title>


	<script
			src="https://code.jquery.com/jquery-3.7.1.js"
			integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			crossorigin="anonymous"></script>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

	{% block style %}{% endblock style %}

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">ReciMe</a>
		<button
				class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a
							class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
						Categories
					</a>
					<ul class="dropdown-menu">
						{% for category in categories %}
							<li><a
									class="dropdown-item"
									href="/recipe/categories/{{ category.slug }}/">{{ category.name }}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" aria-disabled="true">Disabled</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a
							class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
						{% if user.is_authenticated and user.image %}
							<img
									src="{{ user.image.url }}" alt="user_image"
									style="width: 3rem; height: 3rem; border-radius: 1rem;">
						{% else %}
							<img
									src="{% static 'user/default.jpg' %}" alt="avatar_image"
									style="width: 3rem; height: 3rem; border-radius: 1rem;">
						{% endif %}
					</a>
					<ul class="dropdown-menu dropdown-menu-end" style="max-width: 100vw; overflow-x: hidden;">
						{% if user.is_authenticated %}
							<li><a class="dropdown-item"><i class="fa-solid fa-gear"></i> Settings</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item">Hello, {{ user.name }}!!!</a></li>
							<li><a
									class="dropdown-item text-danger"
									href="/auth/signout/"><i class="fa-solid fa-right-to-bracket"></i> Signout</a></li>
						{% else %}
							<li><a
									class="dropdown-item"
									href="/auth/login/"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% block content %}{% endblock content %}

<script src="https://kit.fontawesome.com/33fa90f288.js" crossorigin="anonymous"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- endbuild -->

</body>

</html>
